@use './base/typography';

@use './components/buttons';
@use './components/forms';
@use './components/logo';

@use './layouts/login';
@use './layouts/settings-header';
@use './layouts/user-management';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.6;
    color: #e2e2e2;
    background-color: #292929;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}