@use './base/typography';

@use './components/buttons';
@use './components/forms';
@use './components/logo';

@use './layouts/login';
@use './layouts/user-management';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #b8b9b9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}