@use '../base/colors' as *;

.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .settings-header-actions {
        button {
            background-color: darken($primary-color, 10%)
        }
    }
}