@use '../base/colors' as *;

#user-management {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    .user-list {
        list-style: none;

        ul {
            padding: 0;
        }

        .user-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            background: #181818;
            border-radius: 5px;
            margin-bottom: 1rem;

            .user-actions {
                display: flex;
                gap: 0.5rem;
            }
        }
    }

    .forms-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .add-user-form,
        .mfa-setup {
            flex: 1 1 20%;
            background: #181818;
            border-radius: 8px;
            padding: 2rem;
        }

        .add-user-form {
            .form-group {
                margin-bottom: 1.25rem;

                label {
                    display: block;
                    font-weight: 500;
                    margin-bottom: 0.5rem;
                }

                input {
                    width: 100%;
                    padding: 0.75rem;
                    border-radius: 6px;
                }
            }

            .form-actions {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}